langchain
google-generativeai
langchain-google-genai
python-dotenv
faiss-cpu
cohere
langchain-google-genai
streamlit
ultralyticsplus==0.0.28 
ultralytics==8.0.43
googlesearch-python 
tiktoken 
pypdf 
qdrant-client 
openai 
langchain_openai
nltk
google-search-results>=2.4.2
plotly
scikit-learn